*{
	box-sizing: border-box;
	text-align: center;
}

body {
	font-size: 16px;
	line-height: 24px;
	color:#333;
}

header, nav , footer{
	background:#ddd;
	padding:20px;
	margin-bottom: 20px;
	color:#333;
	clear:both;
}

section,aside {
	padding:100px;
	background: #ccc;
	margin-bottom: 20px;
	color:#333;
}

#left {
	clear:both;
	float:left;
	width:50%;
	background #666;
}

#right{
	float:left;
	width:50%;
	background:#888;
}

article{
	background:#888;
	border:1px;
	padding:20px;
	color:#fff;
	margin-bottom: 20px;
}

p{
	float:center;
	background: #ccc;
	margin-bottom: 20px;
	padding:10px;
	color:#333;
}